extends ../templates/default

block variables
    - title = 'About'
    - description = 'About the authors and the comic'

block content
    p.
        Joystick Jordan was created in 2017.
    
        